/* ImageAnimation.css */
.companies {
    height: 300px; /* Set the height of the container */
    background-color: white;
    width: auto;
  }
  

.svg-container {
    width: auto;
    height: 50%;
    align-items: center;
  }
  
  .moving-image {
    width: 100%; /* Adjust the width of the image as needed */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    animation: moveImage 4s linear infinite; /* Customize animation duration and timing function */
  }
  
  @keyframes moveImage {
    0% {
      transform: translateX(450%); /* Start position (100% off the right side of the SVG) */
    }
    100% {
      transform: translateX(-450%); /* End position (20% off the left side of the SVG) */
    }
  }
  
