/* Companies.css */
.companies {
  height: 100px; /* Set the height of the container */
  background-color: white;
  width: auto;
  overflow: hidden; /* Ensure the overflow is hidden to hide the part of the image outside the container */
  display: flex;
  padding-bottom: 10px;}

.svg-container {
  width: 100%; /* Set the width of the SVG container */
  height: 100%; /* Set the height of the SVG container */
  display: flex; /* Use flexbox to center the image */
  align-items: center;
}

.moving-image {
  width: 150px; /* Adjust the width of the image as needed */
  height: 90px; /* Set a fixed height for the image */
  animation: moveImage 15s linear infinite; /* Customize animation duration and timing function */
}



@keyframes moveImage {
  0% {
      transform: translateX(1700%); /* Start position (100% off the right side of the SVG) */
  }
  100% {
      transform: translateX(-1700%); /* End position (100% off the left side of the SVG) */
  }
}
