/* Navbar.css */
.navbar {
    padding: 10px;
    display: flex;
    width: 100%;
    height: 100%;
  }
  
.navbar-logo {
fill: white;
height: auto;
width: auto;
margin-right: auto;
  }

.navbar-list {
    margin-left: auto; 
  }


.navbar ul {
list-style-type: none;
font-size: xx-large;
padding: 0;
}

.navbar li {
display: inline;
margin-right: 20px;
}

.navbar li a {
color: white;
text-decoration: none;
}

.navbar li a:hover {
color: yellow;
}
