.navbar {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  margin-top: -80px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}


.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: auto;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}


.logo-img {
  filter: invert(1);
}

.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-right: 20px; /* Adjust margin as needed */
}

.burger-icon {
  width: 80px; /* Adjust the width of the icon */
  height: auto; /* Maintain aspect ratio */
}

